@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');

*{
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  list-style-type: none !important;
  text-decoration: none !important;
}

.container{
  max-width: 1240px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

body{
  font-family: 'Mulish' !important;
}


